$background-color: #c5d5db;
$border-color: #93abae;

.dnd {
    width: 100%;
    height: 100%;

    padding: 0.5em;

    background: $background-color;

    &.active {
        background: white;
    }

    > .content-wrapper {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        border: 1px dashed $border-color;

        > .dnd-sign {
            text-align: center;

            > h4 {
                margin: 0.7em 0;

                color: #90acb0;
            }
        }

        > img {
            width: 100%;
            height: 100%;
        }
    }
}
