.app > .header {
    display: flex;
    align-items: center;

    > h1 {
        flex: initial;
    }

    > span {
        display: none;
        margin: 0 1em;
    }
}

.control-container {
    padding: 1em;
    width: 30em;
    .patch-size {
        height: auto;

        > .slider-control {
            display: flex;

            > .label {
                flex: initial;
                width: 5em;
            }

            > .slider {
                flex: 1;
            }
        }
    }
}

.image-cards-container {
    display: flex;
    flex-direction: row;

    > .image-card {
        margin: 0 0.5em;

        &.draw {
            > .title {
                visibility: hidden;
            }

            > .content {
                width: auto;

                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

        > .content {
            width: 20em;
            height: 15em;

            > .output-canvas-wrapper {
                width: 100%;
                height: 100%;
                padding: 0.5em;

                border: 1px dashed gray;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.canvas-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    #canvas,
    #source-image-canvas {
        visibility: hidden;
    }
}

.draw-button {
    margin: 1em 0;
}
